body {
    font-family: 'Montserrat', sans-serif;
    background-color: white;
}
.heading{
    font-weight: bolder;
    padding-left: 12px;
}
.navbar-nav > li{

    padding-right: 10px;
}
.navbar{
    max-height: 10px;
}
.div{
    max-height: 400px;
    padding-top: 3px;
}

.buttondiv{
    padding-top: 25px;
}
.res{
    margin-left: 6px;
}


